header {
    background-color: #000120; 
}
div.title {
    color: yellowgreen; 
    text-align: center;
}
div.title h1 {
    padding: 10px; 
}

main.dashed {
    background-color: black;
}

div.recent-searches h2 {
    font-size: 10px;
}
div.cityList {
    margin-top: 20px;
}
div.city {
    padding: 10px; 
}
div.cityName {
    background-color:white;
    color: black;
}
div.currentWeather {
    margin-bottom: 80px;
    background-color: lightgrey; 
    
}
div.currentWeather h2,
div.currentWeather h3 {
    font-size: 11px; 
    margin: 10px; 
}
span#uv-index {
    color: white;
}
div.fiveDay h2 {
    font-size: 15px; 
    font-weight: bold;
    color: red; 
    text-align: center;
}
div.fiveDay p {
    font-size: 11px;
    
}
div.fiveDay p.card-title {
    font-weight: bold;
    color: white; 
}
.card {
    background-color: lightblue; 
    height: 200%;
}
.text-muted {
    color: white !important;
    text-align: left;
}