header {
  background-color: lightblue;
  text-align: center;
  padding: 20px;
  color: gainsboro;
}
.top-container {
  text-align: center;
  padding-left: 40px;
  padding-top: 40px;
}
.main-container {
  border: 2px solid black;
  margin-bottom: 20px;
  text-align: left;
  padding: 10px 0px 12px 20px;
}
.btn {
  margin: 20px 10px 20px 15px;
  width: 100%;
  border-bottom: solid 3px black;
}
.button-history {
  padding: 10px 0 10px 0;
  width: 70%;
  background-color: black;
  color: wheat;
  border-radius: 5px;
  margin-top: 15px;
  justify-content: center;
}
.uvIndex {
  width: 50px;
  border-radius: 5px;
}
.current-forecast {
  padding: 30px 40px 30px 40px;
  margin-right: 0;
  width: 70%;
  margin-left: 30px;
}
.five-day-forecast {
  position: absolute;
}
.cards-container {
  text-align: left;
}
.card-body {
  width: 100px;
  height: 350px;
  margin: 10px 10px 20px 10px;
  background-color: gray;
}

@media screen and (max-width: 760px) {
  .current-forecast {
    padding: 20px 30px 20px 30px;
    width: 80px;
    margin-left: 0;
  }
}
