body {
    font-family: 'Courier New', Courier, monospace; ;
}

header {
    background-color: #000120; 
}
.title {
    color: yellowgreen; 
    text-align: center;
}
.title h1 {
    padding: 10px; 
}

main.dashed {
    background-color: black;
}

.recent-searches h2 {
    font-size: 10px;
}
.cityList {
    margin-top: 20px;
}
.city {
    padding: 10px; 
}
.cityName {
    background-color:white;
    color: black;
}
.currentWeather {
    margin-bottom: 80px;
    background-color: lightgrey; 
    
}
.currentWeather h2,
.currentWeather h3 {
    font-size: 11px; 
    margin: 10px; 
}
span#uv-index {
    color: white;
}
.fiveDay h2 {
    font-size: 15px; 
    color: red; 
    text-align: center;
}
.fiveDay p {
    font-size: 11px;
    
}
.fiveDay p.card-title {
    font-weight: bold;
    color: white; 
}
.card {
    background-color: lightblue; 
    height: 200%;
}
.text-muted {
    color: white !important;
    text-align: left;
}